<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Essence - Fashion Ecommerce Template</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">
    {{!--
    <link rel="stylesheet" href="/css/style.css"> --}}
    <style>
        .clicked {
            background-color: #c5b3b3;
            /* Change to your preferred color */
        }

        .disabled {
            pointer-events: none;
            /* Prevents all click, state and cursor options */
            opacity: 0.2;
            /* Makes the element semi-transparent */
        }

        #snackbar {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            right: 80px;
            /* Đặt cách lề phải là 30px */
            bottom: 30px;
            /* Đặt cách lề dưới là 30px */
            font-size: 17px;
        }


        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        @-webkit-keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @-webkit-keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }

        @keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }
    </style>
</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="/index"><img src="/img/TĐT_logo.png" alt=""></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="/index">Trang chủ</a></li>

                            <li><a href="/shop">Shop</a>

                            </li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="/shop">Shop</a></li>
                                    <li><a href="/check-order">Kiểm tra đơn hàng</a></li>
                                </ul>
                            </li>
                            <li><a href="/check-order">Kiểm tra đơn hàng</a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
                {{!-- <div class="search-area">
                    <form action="/shop" method="get">
                        <input type="search" name="search" id="headerSearch" placeholder="Type for search"
                            value="{{search}}">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div> --}}
                <!-- Favourite Area -->
                <div class="favourite-area">
                    <a href="/favorite" style="display: flex; justify-content: center; align-items: center;"><img
                            src="/img/core-img/heart.svg" alt=""></a>
                </div>
                <!-- User Login Info -->
                <div class="user-login-info" style="display: flex; justify-content: center; align-items: center;">
                    {{#if name}}
                    <span style="margin-right:10px ;">Chào, <b>{{name}}</b></span>
                    {{else}}
                    <a href="/cus/auth" style="display: flex; justify-content: center; align-items: center;"><img
                            src="/img/core-img/user.svg" alt=""></a>
                    {{/if}}
                </div>

                <div class="user-login-info">
                    {{#if name}}
                    <a href="/cus/logout" style="display: flex; justify-content: center; align-items: center;"><img
                            src="/img/logout.png" alt=""></a>
                    {{/if}}
                </div>
                <!-- Cart Area -->
                <div class="cart-area">
                    <a href="#" id="essenceCartBtn"
                        style="display: flex; justify-content: center; align-items: center;"><img
                            src="/img/core-img/bag.svg" alt="">
                        <span id="cart-count" style="margin-left: 20px;">{{this.length}}</span></a>
                </div>
            </div>

        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->
    <div class="cart-bg-overlay"></div>

    <div class="right-side-cart-area">

        <!-- Cart Button -->
        <div class="cart-button">
            <a href="#" id="rightSideCart"><img src="/img/core-img/bag.svg" alt=""> <span>{{this.length}}</span></a>
        </div>

        <div class="cart-content d-flex">

            <!-- Cart List Area -->
            <div class="cart-list" id="cart-items">
                {{#if carts}}
                {{#each carts}}
                <div class="single-cart-item" style="margin-bottom: 10px;">
                    <a href="#" class="product-image" style="margin-bottom:60px">
                        <img src="/uploads/{{this.image}}" class="cart-thumb" alt="">
                        <!-- Cart Item Desc -->
                        <div class="cart-item-desc">
                            <span class="product-remove"><i class="fa fa-close" aria-hidden="true"
                                    data-product-id="{{this.id}}"></i></span>
                            <span class="badge">{{this.brand}}</span>
                            <h6>{{this.productName}}</h6>
                            <p class="size" style="font-size: 16px;">Số lượng:
                                <button class="quantity-button" data-action="decrease" data-product-id="{{this.id}}"
                                    data-capacity="{{this.capacity}}" data-color="{{this.color}}"> -
                                </button>
                                <span class="quantity"> {{this.quantity}} </span>
                                <button class="quantity-button" data-action="increase" data-product-id="{{this.id}}"
                                    data-capacity="{{this.capacity}}" data-color="{{this.color}}"> +
                                </button>
                            </p>
                            <p class="size">Dung lượng: {{this.capacity}}</p>
                            <p class="color">Màu sắc: {{this.color}}</p>
                            <p class="price">{{formatCurrency this.price}}</p>
                        </div>
                    </a>
                </div>
                {{/each}}
                {{else}}
                <h3 style="display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 20px;
                    height: 100vh; ">Giỏ hàng trống</h3>
                {{/if}}
            </div>

            <!-- Cart Summary -->
            <div class="cart-amount-summary">
                <div class="checkout-btn mt-100"
                    style="display: flex; justify-content: center; flex-direction: column; align-items: center;">

                    {{!-- <a href="/checkout" class="btn essence-btn"
                        style="margin-top:  10px; background-color: black"> THực
                        hiện Thanh toán</a>

                    <h2 style="
                    margin-left: 20px;
                    height: 100vh; ">Hãy thêm sản phẩm vào giỏ hàng</h2> --}}


                    <a href="/checkout" class="btn essence-btn"
                        style="margin-top:  10px; background-color: black; display:none"> THực
                        hiện Thanh toán</a>
                    <h2 style="
                    margin-left: 20px;
                    height: 100vh;
                    display:none ">Hãy thêm sản phẩm vào giỏ hàng</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Right Side Cart End ##### -->

    <!-- ##### Single Product Details Area Start ##### -->
    <section class="single_product_details_area d-flex align-items-center">

        <!-- Single Product Thumb -->
        <div class="single_product_thumb clearfix">
            <div class="product_thumbnail_slides owl-carousel">
                <!-- Sản phẩm chính -->
                <div class="item">
                    <a href="#"><img src="/uploads/{{product.image}}" alt="" style="width:50%; margin-left:150px"></a>
                </div>
                <div class="item">
                    <div class="embed-responsive embed-responsive-16by9"
                        style="margin-top:25px; margin-left:40px; height:400px; width:850px">
                        <iframe class="embed-responsive-item" src="{{product.url_video}}" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="item">
                    <div class="breadcumb_area bg-img mt-10"
                        style="background-image: url(/img/bg-img/breadcumb.jpg); height:850px">
                        <div class="container h-500">
                            <div class="row h-500 align-items-center justify-content-center ">
                                <div class="col-12">
                                    <div class="page-title text-center ">
                                        <h2 style="white-space: pre-line; margin-left:20px; font-size:24px">
                                            {{product.description}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="item">
                    <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg"
                            alt="" width="200" height="200"></a>
                </div>
            </div>

            <!-- Các item nhỏ -->
            <div class="product_thumbnails" style="display: flex; justify-content: center; align-items: center;">
                <div class="item mr-2">
                    <a href="#" class="thumb active" data-slide-index="0"><img src="/uploads/{{product.image}}" alt=""
                            style="width:80px;height:80px"></a>
                </div>
                <div class="item mr-1">
                    <a href="#" class="thumb active" data-slide-index="1"><span style="color: black;">VIDEO</span></a>
                </div>
                <div class="item mr-1">
                    <a href="#" class="thumb" data-slide-index="2"><span style="color: black;"> Chi tiết</span></a>
                </div>
                <div class="item">
                    <a href="#" class="thumb" data-slide-index="3"><img
                            src="https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg" alt=""
                            style="width:80px;height:80px"></a>
                </div>
            </div>
        </div>




        <!-- Single Product Description -->
        <div class="single_product_desc clearfix" style="margin-bottom: 150px;">
            <span>{{product.brand}}</span>
            <a href="#">
                <h2>{{product.name}}</h2>
            </a>
            <h5>Giá sản phẩm đã bao gồm VAT</h5>
            <p class="product-price">
                {{!-- {{#ifeq product.quantityInStock 0}} --}}
                {{formatCurrency minPriceColor.price}}

                {{!--
            <p class="product-price"><span class="old-price">$65.00</span> $49.00</p> --}}
            {{!-- <span style="color: red; text-decoration:none">Sản phẩm đã hết</span> --}}
            {{!-- {{else}}
            {{formatCurrency product.retailPrice}}
            {{/ifeq}} --}}
            </p>
            <!-- Cart & Favourite Box -->
            <div class="select-box d-flex mt-50 mb-30 mr-30">
                <div id="productSize" class="mr-5">
                    {{#each capacitiesWithMinPrice}}
                    <button class="find d-block mb-2" style="font-size: large; widht:100%"
                        data-capacity="{{capacity}}">{{capacity}}<span class="price">{{formatCurrency
                            minPriceColor.price}}</span></button>
                    {{/each}}
                </div>

                <h6 class="widget-title ml-10">MÀU SẮC</h6>
                <div class="widget color">
                    <div class="widget-desc">
                        <ul class="d-flex" id="color-items">
                            <li><a href="#" class="colorWhite"></a></li>
                            <li><a href="#" class="colorGrey"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="cart-fav-box d-flex align-items-center">
                <div class="add-to-cart-btn">
                    <a href="#" class="btn essence-btn add-to-cart-btn1" data-product-id="{{product._id}}">Add to
                        Cart</a>
                </div>
                <div class="add-to-cart-btn">
                    <a href="/shop" class="btn essence-btn ml-5">Quay về</a>
                </div>
                <!-- Favourite -->
                <div class="product-favourite ml-4">
                    {{!-- <a href="#" class="favme fa fa-heart"> {{this.isFavorite}}</a> --}}
                    {{#if this.isFavorite}}
                    <a href="#" class="favme fa fa-heart active" id="action-favorite"
                        data-product-id="{{product._id}}"></a>
                    {{else}}
                    <a href="#" class="favme fa fa-heart" id="action-favorite" data-product-id="{{product._id}}"></a>
                    {{/if}}
                </div>
                <!-- Favourite -->
                {{!-- <div class="product-favourite ml-4">
                    <a href="#" class="favme fa fa-heart"></a>
                </div> --}}
            </div>
        </div>

        <div id="snackbar">Đã thêm sản phẩm vào giỏ hàng</div>
    </section>
    <!-- ##### Single Product Details Area End ##### -->
    <script id="kami-chat-widget" src="https://kamimind.ai/kami-chat-widget.js" token="rZq7YeQ4YK40O5WUcJlOH2D32kBuehpC"
        charset="utf-8" botToken="336290a4-88b3-43e8-ac45-82ace2518135" defer></script>
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area d-flex mb-30">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="#"><img src="/img/TĐT_logo.png" alt=""></a>
                        </div>
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <ul>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area mb-30">
                        <ul class="footer_widget_menu">
                            <li><a href="#">Order Status</a></li>
                            <li><a href="#">Payment Options</a></li>
                            <li><a href="#">Shipping and Delivery</a></li>
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row align-items-end">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_heading mb-30">
                            <h6>Subscribe</h6>
                        </div>
                        <div class="subscribtion_form">
                            <form action="#" method="post">
                                <input type="email" name="mail" class="mail" placeholder="Your email here">
                                <button type="submit" class="submit"><i class="fa fa-long-arrow-right"
                                        aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_social_area">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                                    class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i
                                    class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i
                                    class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i
                                    class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i
                                    class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i
                            class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Colorlib</a>, distributed by <a href="https://themewagon.com/"
                            target="_blank">ThemeWagon</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js2/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js2/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js2/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js2/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="/js2/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="/js2/active.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


    <script>
        if (window.jQuery) {
            // jQuery is loaded  
            console.log("jQuery is loaded");
        } else {
            // jQuery is not loaded
            console.log("jQuery is not loaded");
        }



        if (parseInt(jQuery('.cart-button span').text()) == 0) {
            jQuery('.checkout-btn a').hide();
            jQuery('.checkout-btn h2').show();
        } else {
            jQuery('.checkout-btn a').show();
            jQuery('.checkout-btn h2').hide();
        }


        jQuery(document).on('click', '.product-remove', function () {
            jQuery(this).closest('.single-cart-item').remove();
            var productId = jQuery(this).find('i').data('product-id');
            console.log(productId);
            jQuery.ajax({
                url: '/cart/delete',
                method: 'Delete',
                contentType: 'application/json',
                data: JSON.stringify({ productId }),
                success: function (response) {
                    console.log(response);
                    jQuery('#cart-count').text(response.cart.length);
                    jQuery('.cart-button span').text(response.cart.length);
                    if (response.cart.length == 0) {
                        jQuery('.checkout-btn a').hide();
                        jQuery('.checkout-btn h2').show();
                    } else {
                        jQuery('.checkout-btn a').show();
                        jQuery('.checkout-btn h2').hide();
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });

        function debounce(func, delay) {
            let debounceTimer;
            return function () {
                const context = this;
                const args = arguments;
                clearTimeout(debounceTimer);
                debounceTimer = setTimeout(() => func.apply(context, args), delay);
            }
        }

        const debounceUpdateQuantity = debounce(function (productId, quantityElement, capacity, color) {
            jQuery.ajax({
                url: '/cart/updateQuantity',
                method: 'put',
                contentType: 'application/json',
                data: JSON.stringify({ productId, quantityElement, capacity, color }),
                success: function (response) {
                    console.log(response);
                    // Update the quantity on the page
                },
                error: function (err) {
                    console.log(err);
                    if (err.status === 400) {
                        alert('Số lượng sản phẩm không đủ. Chỉ còn ' + err.responseJSON.quantityInStock);
                        //quantityElement.text(err.responseJSON.quantityInStock);
                        window.location.reload();

                    }
                }
            });
        }, 1000);

        jQuery(document).on('click', '.quantity-button', function () {
            var productId = jQuery(this).data('product-id');
            var capacity = jQuery(this).data('capacity');
            var color = jQuery(this).data('color');
            var action = jQuery(this).data('action');
            var quantityElement = jQuery(this).siblings('.quantity');
            var currentQuantity = parseInt(quantityElement.text());
            if (action === 'increase') {
                quantityElement.text(currentQuantity + 1);
            } else if (action === 'decrease' && currentQuantity > 1) {
                quantityElement.text(currentQuantity - 1);
            }

            var newQuantity = parseInt(quantityElement.text()); // Lấy giá trị mới của số lượng
            debounceUpdateQuantity(productId, newQuantity, capacity, color);
        });

        var selectedCapacity;
        var selectedColor;

        jQuery('.add-to-cart-btn1').on('click', function (e) {
            var productId = jQuery(this).data('product-id');
            var price = parseFloat(jQuery('.product-price').text().replace(/\./g, ""));
            console.log("selectedCapacity: " + selectedCapacity);
            console.log("selectedColor: " + selectedColor);
            var quantity = 1;
            jQuery.ajax({
                url: '/cart/add',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ productId, quantity, price, selectedCapacity, selectedColor }),
                success: function (response) {
                    console.log(response);
                    var x = document.getElementById("snackbar");
                    x.className = "show";
                    setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
                    updateCartUI(response.cart);
                },
                error: function (err) {
                    console.log(err);
                    if (err.status === 401) {
                        alert('Hãy đăng nhập để tiếp tục việc mua hàng');
                        setTimeout(function () {
                            window.location.href = '/cus/auth';
                        }, 1000);
                    }
                    else if (err.status === 400) {
                        alert('Sản phẩm đã hết hàng');
                    } else {
                        alert('Đã có lỗi xảy ra');
                    }
                }
            });
        });

        function updateCartUI(cart) {
            jQuery('#cart-count').text(cart.items.length);
            jQuery('.cart-button span').text(cart.items.length);
            const cartItemsContainer = jQuery('#cart-items');
            cartItemsContainer.empty();
            if (cart.items.length > 0) {
                jQuery('.checkout-btn a').show();
                jQuery('.checkout-btn h2').hide();
            } else {
                jQuery('.checkout-btn a').hide();
                jQuery('.checkout-btn h2').show();
            }
            cart.items.forEach((item) => {
                const cartItemHTML = `
            <div class="single-cart-item" style="margin-bottom: 10px;">
                <a href="#" class="product-image" style="margin-bottom:60px">
                    <img src="/uploads/${item.image}" class="cart-thumb" alt="">
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                        <span class="product-remove"><i class="fa fa-close" aria-hidden="true" data-product-id="${item.id}"></i></span>
                        <span class="badge">${item.brand}</span>
                        <h6>${item.productName}</h6>
                        <p class="size" style="font-size: 16px;">Số lượng:
                                <button class="quantity-button" data-action="decrease" data-product-id="${item.id}" data-capacity="${item.capacity}" data-color="${item.color}"> -
                                </button>
                                <span class="quantity"> ${item.quantity} </span>
                                <button class="quantity-button" data-action="increase" data-product-id="${item.id}" data-capacity="${item.capacity}" data-color="${item.color}"> +
                                </button>
                            </p>
                        <p class="size">DUNG LƯỢNG: ${item.capacity}</p>
                        <p class="color">MÀU SẮC: ${item.color}</p>
                        <p class="price">${item.price}</p>
                    </div>
                </a>
            </div>
        `;
                cartItemsContainer.append(cartItemHTML);
            });

        }


        jQuery(".find").click(function () {
            jQuery('.find').removeClass('clicked');
            jQuery(this).addClass('clicked');
            selectedCapacity = jQuery(this).data('capacity');
            console.log(selectedCapacity);
            var path = window.location.pathname;
            var parts = path.split('/');
            var productId = parts[parts.length - 1];
            var capacity = jQuery(this).data('capacity');
            const color = jQuery('#color-items');
            color.empty();
            const colorClasses = {
                'Trắng': 'colorWhite',
                'Xám': 'colorGrey',
                'Đen': 'colorBlack',
                'Xanh dương': 'colorBlue',
                'Đỏ': 'colorRed',
                'Vàng': 'colorYellow',
                'Xanh lá': 'colorGreen',
                'Hồng': 'colorPink',
                'Xanh': 'colorGreen',
                'Tự Nhiên': 'colorNatural',
                'Tím': 'colorViolet',
                'Bạc': 'colorSilver',
                'Xanh bạc hà': 'colorMint',
                'Kem': 'colorCream',
            };
            jQuery.ajax({
                url: '/product-detail/colorPriceWithCapacity',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ productId, capacity }),
                success: function (response) {
                    console.log(response.colorsWithPrice);
                    jQuery(".product-price").text(formatCurrency(response.colorsWithPrice[0].price));
                    response.colorsWithPrice.forEach((item) => {
                        const format = formatCurrency(item.price);
                        const colorClass = colorClasses[item.color] || ''; // Nếu không có lớp tương ứng thì để trống
                        const disabledClass = item.quantityInStock === 0 ? 'disabled' : '';
                        const colorItem = `
                        <div class ='col ${disabledClass}' style = "border: 1px solid black;">
                            <li style = "justify-content: center; align-items: center; margin-top:5px" ><a href="#" class="${colorClass}"></a></li>
                                <span class="color-item">${item.color}</span>
                                <span class="price">${format}</span>
                            </div>
                            `;
                        color.append(colorItem);
                    });
                    jQuery('.col:not(.disabled)').first().click();
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
        jQuery(".find").first().click();
        jQuery(document).on('click', '.col', function () {
            jQuery('.col').removeClass('clicked');
            jQuery(this).addClass('clicked');
            var price = jQuery(this).find('.price').text();
            jQuery(".product-price").text(price);
            selectedColor = jQuery(this).find('.color-item').text();
            console.log(selectedColor);
        });

        function formatCurrency(amount) {
            return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(amount);
        }

        jQuery(document).on("click", "#action-favorite", function () {
            var productId = jQuery(this).data('product-id');
            var isFavorite = jQuery(this).hasClass("active");

            if (isFavorite) {
                jQuery.ajax({
                    url: '/favorite/add',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ productId: productId }),
                    success: function (response) {
                        console.log(response);
                        jQuery(this).addClass("active");
                    },
                    error: function (err) {
                        console.log(err);
                        if (err.status === 401) {
                            alert('Hãy đăng nhập để thêm sản phẩm vào danh sách yêu thích');
                            setTimeout(function () {
                                window.location.href = '/cus/auth';
                            }, 1000);
                        }
                    }
                });

            } else {
                jQuery.ajax({
                    url: '/favorite/remove',
                    method: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify({ productId: productId }),
                    success: function (response) {
                        console.log(response);
                        jQuery(this).removeClass("active");
                    },
                    error: function (err) {
                        console.log(err);
                        if (err.status === 401) {
                            alert('Hãy đăng nhập để thêm sản phẩm vào danh sách yêu thích');
                            setTimeout(function () {
                                window.location.href = '/cus/auth';
                            }, 1000);
                        }
                    }
                });


            }

        });
    </script>
</body>

</html>