<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style.add.css" />
    <link rel="shortcut icon" href="/images/teste5.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/icons/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 p-0">
                <!-- Sidebar content here -->
                {{>sidebar}}
            </div>
            <div class="col-10 ">
                <div id="right" class="right">
                    {{>info}}
                </div>
                <div class="row justify-content-between mt-3">
                    <div class="col">
                        <h2 style="font-size: 35px;">Khách Hàng</h2>
                    </div>
                </div>
                <div class="table-responsive">
                    <form action="/customer" method="GET" class="mb-3" style="width:30%; float:right">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search customers" name="search"
                                value="{{search}}">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                    {{#if message }}
                    <div class="alert alert-dismissible fade show alert-{{message.type}}" role="alert">
                        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                        <strong style="margin-top: 10px;"> {{message.message}} </strong>
                    </div>
                    {{/if}}
                    {{#if customers}}
                    <table class="w-100 mt-3 table table-striped my-3 mt-3" id="tableProduct1">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Họ và tên</th>
                                <th>Số điện thoại</th>
                                <th>Lịch sử mua hàng</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        {{#each customers}}
                        <tbody>
                            <tr>
                                <th class="align-middle">{{incrementedIndex @index}}</th>
                                <th class="align-middle">{{this.name}}</th>
                                <th class="align-middle">{{this.phone}}</th>
                           
                                <th class="align-middle"><a href="/customer/customerDetail/{{this._id}}">Chi tiết</a></th>
                                <td class="align-middle">
                                    <a href="/customer/edit/{{this._id}}" style="text-decoration: none;"
                                        class="update btn btn-sm btn-primary mx-1">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                     {{#ifRoleIsAdmin role}}
                                    <a href="/customer/delete/{{this._id}}" style="text-decoration: none;"
                                        class="delete btn btn-sm btn-danger mx-1">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                    {{/ifRoleIsAdmin}}
                                </td>
                            </tr>
                        </tbody>
                        {{/each}}
                    </table>
                    {{else}}
                    <h1 class="text-center text-secondary mt-5">Không có khách hàng nào trong database</h1>
                    {{/if}}
                    <div class="d-flex justify-content-center">
                        <ul class="pagination">
                            {{#if pagination.prevPage}}
                            <li class="page-item">
                                <a class="page-link"
                                    href="/customer?page={{pagination.prevPage}}&pageSize={{pagination.pageSize}}&search={{search}}">
                                    Previous
                                </a>
                            </li>
                            {{/if}}

                            {{#each pagination.pages}}
                            <li class="page-item {{#if this.isCurrent}}active{{/if}}">
                                <a class="page-link"
                                    href="/customer?page={{this.page}}&pageSize={{pagination.pageSize}}&search={{search}}">
                                    {{this.page}}
                                </a>
                            </li>
                            {{/each}}

                            {{#if pagination.nextPage}}
                            <li class="page-item">
                                <a class="page-link"
                                    href="/customer?page={{pagination.nextPage}}&pageSize={{pagination.pageSize}}&search={{search}}">
                                    Next
                                </a>
                            </li>
                            {{/if}}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>


    var messageExists = document.querySelector('.alert.alert-dismissible.fade.show') !== null;
    if (messageExists) {
        var messageElement = document.querySelector('.alert.alert-dismissible.fade.show');
        setTimeout(function () {
            messageElement.style.display = 'none';
        }, 3000);
    }


</script>