<div class="container-fluid">

    <div class="row">
        <div class="col-2 p-0">
            <!-- Sidebar content here -->
            {{>sidebar}}
        </div>
        <div class="col-10">
            <div id="right" class="right">
                {{>info}}
            </div>
            <div class="col-6 mx-auto " style="margin-top: 30px ;width: 50%;">
                <h1 class="">Sửa sản phẩm {{product.name}}</h1>
                <form action="/product/update/{{product._id}}" method="post" enctype="multipart/form-data"
                    class="needs-validation" novalidate>
                    <div class="form-group">
                        <label for="barcode">Mã vạch:</label>
                        <input class="form-control" placeholder="Nhập mã vạch" id="barcode" name="barcode"
                            value="{{product.barcodeUPC}}">
                        <th class="align-middle"><img src="data:image/png;base64,{{product.barcode}}" alt=""
                                class="img-thumbnail" style="width:100px"></th>
                    </div>
                    <div class="form-group">
                        <label for="imgPd">Ảnh sản phẩm</label>
                        <input class="form-control" type="file" id="imgPd" name="imgPd">
                        <img src="/uploads/{{product.image}}" alt="" class="img-thumbnail" style="width:100px">
                    </div>
                    <input type="hidden" name="old_image" id="" value="{{product.image}}">
                    <div class="form-group">
                        <label for="namePd">Tên sản phẩm</label>
                        <input class="form-control" placeholder="Nhập tên sản phẩm" id="namePd" name="namePd"
                            value="{{product.name}}">
                    </div>
                    <div class="form-group">
                        <label for="video_url">Video sản phẩm</label>
                        <input class="form-control" placeholder="URL Video" id="video_url" name="video_url"
                            value="{{product.url_video}}">
                    </div>
                    <div class="form-group">
                        <label for="brand">Thương hiệu</label>
                        <input class="form-control" placeholder="Nhập thương hiệu" id="brand" name="brand"
                            value="{{product.brand}}">
                    </div>
                    <div class="form-group">
                        <label for="description">Đặc điểm</label>
                        <textarea class="form-control" id="description" name="description" cols="10"
                            rows="3">{{product.description}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="product_category">Loại</label>
                        <select class="form-select select_cat" id="category" required="" name="product_category">
                            {{#each categories}}
                            <option value="{{this.name}}" {{#ifeq product.category '{{this.name}}' }} selected
                                {{/ifeq}}>{{this.name}}</option>
                            {{/each}}

                        </select>
                    </div>
                    <div class="form-group mt-2">
                        <label for="capacities">Capacities:</label>
                        <div id="capacities">
                            {{#each product.capacities}}
                            <div class="capacity mt-1">
                                <input class="form-control mb-2 mt-2" id="ipca" placeholder="Nhập dung lượng" data-count="{{@index}}"
                                    name="capacities[{{@index}}][capacity]" value="{{capacity}}">
                                <div class="row">
                                    {{#each colors}}
                                    <div class="col-3">
                                        <input class="form-control mb-2" placeholder="Nhập màu sắc"
                                            name="capacities[{{@../index}}][colors][{{@index}}][color]"
                                            value="{{color}}">
                                        <input class="form-control mb-2" placeholder="Nhập giá"
                                            name="capacities[{{@../index}}][colors][{{@index}}][price]"
                                            value="{{price}}">
                                        <input class="form-control mb-2" placeholder="Nhập số lượng trong kho"
                                            name="capacities[{{@../index}}][colors][{{@index}}][quantityInStock]"
                                            value="{{quantityInStock}}">
                                        <button type="button" class="btn btn-danger removeColor mb-2 mt-1">Xóa</button>
                                        <p style="display: none;" data-color-index="{{@index}}"></p>
                                    </div>
                                    {{/each}}
                                </div>
                                <button type="button" class="btn btn-danger removeCapacity mt-2 mb-2">Xóa dung
                                    lượng</button>
                                <button type="button" class="btn btn-primary addColor mt-2 mb-2" id="addColor" data-capa-index="{{@index}}">Thêm màu
                                    sắc</button>
                            </div>
                            {{/each}}
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <button type="button" id="addCapacity" class="btn btn-secondary mt-2 ">Thêm
                                    dung lượng</button>
                            </div>
                            {{!-- <div class="col-4">
                                <button type="button" id="addColor" class="btn btn-secondary ">Thêm
                                    màu
                                    sắc</button>
                            </div> --}}

                        </div>

                        <button type="submit" name="submit" class="btn btn-success " style="margin-top: 15px;">Sửa sản
                            phẩm</button>
                </form>
            </div>
        </div>

    </div>

    <script>

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function () {
        var capacityIndex = parseInt($('.capacity:last').find('#ipca').data('count'));
        console.log(capacityIndex);
        var colorIndex = 3; 
        $('#addCapacity').click(function () {
            capacityIndex++; // Tăng chỉ số dung lượng lên mỗi khi nhấn nút
            colorIndex = 3;
            // Tạo một chuỗi HTML cho cột input mới
            var newCapacityDiv = `
        <div class="capacity">
            <input class="form-control mb-2" placeholder="Nhập dung lượng" name="capacities[${capacityIndex}][capacity]">
            <div class="row">
                <div class="col-3">
                    <input class="form-control mb-2" placeholder="Nhập màu sắc" name="capacities[${capacityIndex}][colors][0][color]">
                    <input class="form-control mb-2" placeholder="Nhập giá" name="capacities[${capacityIndex}][colors][0][price]">
                    <input class="form-control mb-2" placeholder="Nhập số lượng trong kho" name="capacities[${capacityIndex}][colors][0][quantityInStock]">
                </div>
                <div class="col-3">
                    <input class="form-control mb-2" placeholder="Nhập màu sắc" name="capacities[${capacityIndex}][colors][1][color]">
                    <input class="form-control mb-2" placeholder="Nhập giá" name="capacities[${capacityIndex}][colors][1][price]">
                    <input class="form-control mb-2" placeholder="Nhập số lượng trong kho" name="capacities[${capacityIndex}][colors][1][quantityInStock]">
                </div>
                <div class="col-3">
                    <input class="form-control mb-2" placeholder="Nhập màu sắc" name="capacities[${capacityIndex}][colors][2][color]">
                    <input class="form-control mb-2" placeholder="Nhập giá" name="capacities[${capacityIndex}][colors][2][price]">
                    <input class="form-control mb-2" placeholder="Nhập số lượng trong kho" name="capacities[${capacityIndex}][colors][2][quantityInStock]">
                </div>
                <div class="col-3">
                    <input class="form-control mb-2" placeholder="Nhập màu sắc" name="capacities[${capacityIndex}][colors][3][color]">
                    <input class="form-control mb-2" placeholder="Nhập giá" name="capacities[${capacityIndex}][colors][3][price]">
                    <input class="form-control mb-2" placeholder="Nhập số lượng trong kho" name="capacities[${capacityIndex}][colors][3][quantityInStock]">
                </div>
            </div>
            <button type="button" class="btn btn-danger removeCapacity mt-2">Xóa dung lượng</button>
            <button type="button" class="btn btn-primary addColor mt-2">Thêm màu sắc</button>
        </div>
        `;

            // Thêm div mới vào cuối container
            $('#capacities').append(newCapacityDiv);
        });

        
    });


    $(document).ready(function () {
    $(document).on('click', '.addColor', function () {
        var capacityIndex = $(this).data('capa-index');
        var colorIndex = $(this).parent().find('[data-color-index]').last().data('color-index') + 1;

        var newColorDiv = `
            <div class="col-3">
                <input class="form-control mb-2" placeholder="Nhập màu sắc" name="capacities[${capacityIndex}][colors][${colorIndex}][color]">
                <input class="form-control mb-2" placeholder="Nhập giá" name="capacities[${capacityIndex}][colors][${colorIndex}][price]">
                <input class="form-control mb-2" placeholder="Nhập số lượng trong kho" name="capacities[${capacityIndex}][colors][${colorIndex}][quantityInStock]">
                <button type="button" class="btn btn-danger removeColor mb-2 mt-1">Xóa</button>
                <p style="display: none;" data-color-index="${colorIndex}"></p>
            </div>
        `;
        $(this).parent().find('.row').append(newColorDiv);
    });

    // Thêm sự kiện click vào nút "Xóa"
    $(document).on('click', '.removeColor', function () {
        $(this).parent().remove();
    });
});


    document.getElementById('capacities').addEventListener('click', function (event) {
        if (event.target.classList.contains('removeCapacity')) {
            event.target.parentElement.remove();
        }
    });
    </script>

</div>